@import './utils/vars';
@import './utils/hidden';

@import './base/common';
@import './base/reset';

@import './components/container';
@import './components/section';
@import './components/section__title';
@import './components/logo';
@import './components/header';
@import './components/nav';
@import './components/site-nav';
@import './components/contacts-nav';
@import './components/primary-button';
@import './components/socials';
@import './components/section-footer';
@import './components/portpholio-btns';
@import './components/potpholio-cards';
@import './components/modal';

@import './layout/hero';
@import './layout/advantages';
@import './layout/features';
@import './layout/team';
@import './layout/clients';
@import './layout/footer';
