.features-section {
    padding-top: 0;
}

.section__title {
    color: var(--title-text-color);
    font-weight: bold;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    padding-top: 0px;
    margin-bottom: 50px;
}

.features {
    display: flex;
    gap: 30px;

    &__item {
        position: relative;
    }

    &__text {
        position: absolute;
        bottom: 0;
        left: 0;
        background: rgba(47, 48, 58, 0.8);
        
        display: flex;
        width: 100%;
        height: 70px;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;
        
        color: var(--primary-white-color);
    }
}