.footer {
    text-align: center;

    @include desktop {
        display: flex;
        align-items: baseline;
        text-align: start;
    }

    &__tablet {
        margin-bottom: 60px;
        @include tablet {
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 60px;
        }
        @include desktop {
            margin-bottom: 0;
        }
    }

    &__nav {
        margin-bottom: 60px;
        @include tablet {
            margin-bottom: 0;
        }
    }

    &__logo {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        @include desktop {
            justify-content: start;
        }
    }
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 8px;
    @include desktop {
        gap: 9px;
        margin-bottom: 0;
    }
}

.contacts__address {
    color: var(--primary-white-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.contacts__mail,
.contacts__phone {
    display: block;
    color: var(--adrress-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.footer-form {
    margin-left: auto;

    &__icon {
        overflow: visible;
        fill: var(--primary-white-color);
        margin-left: 10px;
    }

    &__title {
        display: block;
        text-transform: uppercase;
        margin-bottom: 20px;
        color: var(--primary-white-color);
    }
}

.footer-form {
    @include desktop {
        margin-left: 93px;
    }

    &__title {
        color: var(--primary-white-color);
        text-transform: uppercase;
        display: block;
        margin-bottom: 20px;
        line-height: 1.2;
    }

    form {
        @include tablet {
            display: inline-flex;
            flex-direction: column;
        }
        @include desktop {
            display: block;
        }
    }

    input {
        width: 450px;
        height: 50px;
        margin-bottom: 20px;
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        color: white;
        padding-left: 16px;

        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;

        &::placeholder {
            color: rgba(255, 255, 255, 0.6);
        }

        @include desktop {
            width: 358px;
            margin-bottom: 0;
        }
    }

    &__btn {
        margin: auto;
        @include desktop {
            margin-left: 12px;
        }
    }

    &__icon {
        overflow: visible;
        fill: white;
        margin-left: 10px;
    }
}

.footer-form__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: transparent;
    padding: 10px 28px;
    cursor: pointer;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
