.hero {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 200px 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero_background/Img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__title {
        margin-bottom: 30px;
        width: 696px;
        color: var(--primary-white-color);
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        
        margin-left: auto;
        margin-right: auto;
    }
}