.hero {
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;
    max-width: 480px;
    margin-right: auto;
    margin-left: auto;
    border-color: var(--primary-bg-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/main-img-mob.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include retina {
        background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
            url(../images/main-img-mob-2x.jpg);
    }

    @include tablet {
        max-width: 768px;
        background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
            url(../images/main-img-tab.jpg);
        @include retina {
            background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
                url(../images/main-img-tab-2x.jpg);
        }
    }

    @include desktop {
        padding-top: 200px;
        padding-bottom: 200px;
        max-width: 1600px;
        background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
            url(../images/main-img.jpg);
        @include retina {
            background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
                url(../images/main-img-2x.jpg);
        }
    }

    &__title {
        margin-bottom: 30px;
        color: var(--primary-white-color);
        font-weight: 900;
        font-size: 26px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;

        @include desktop {
            font-size: 44px;
            line-height: 1.36;
        }
    }
}
