.section-team {
    background-color: var(--secondary-bg-color);
}

.team {
    display: flex;
    gap: 30px;

    &__item {
        background-color: var(--primary-white-color);
        box-shadow: var(--shadows);
        border-radius: 0px 0px 4px 4px;
    }
}

.member {
    padding-top: 30px;
    padding-bottom: 30px;

    &__name {
        margin-bottom: 10px;

        color: var(--title-text-color);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.2;
        text-align: center;
    }

    &__domain {
        font-size: 16px;
        line-height: 1.2;
        text-align: center;
        margin-bottom: 16px;
    }
}
