.contacts-nav {
    display: none;
    @include tablet {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-left: auto;
        padding-top: 21px;
        padding-bottom: 21px;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.15;
        letter-spacing: 0.02em;
        gap: 10px;

        &__icon {
            margin-right: 10px;
            fill: currentColor;
        }
        &__mail,
        &__phone {
            display: flex;
            align-items: center;
            color: var(--primary-text-color);
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            &:hover,
            &:focus {
                color: var(--accent-color);
            }
        }
    }
    @include desktop {
        flex-direction: row;
        padding: 0;
        font-size: 14px;
        gap: 30px;
        &__mail,
        &__phone {
            padding-top: 32px;
            padding-bottom: 32px;
            color: var(--primary-text-color);
        }
    }
}
