.backdrop {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);

    position: fixed;
    top: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    width: 528px;
    height: 581px;
    background: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    position: absolute;
    padding: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .backdrop.is-hidden & {
        transform: scale(0.5);
    }

    &__title {
        margin-bottom: 12px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        letter-spacing: 0.03em;

        color: var(--title-text-color);
    }

    &__label {
        display: block;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
        cursor: pointer;
        margin-bottom: 10px;
        &:focus-within {
            fill: var(--accent-color);
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
}

.modal-textarea__label {
    display: block;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    cursor: pointer;
    margin-bottom: 4px;
}

.label__wrap {
    margin-bottom: 4px;
    display: flex;
}

.label__field {
    position: relative;
}

.label__icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

.label__input,
.modal-textarea__text {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
    outline: none;

    &:focus-within {
        border-color: var(--accent-color);
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.modal-textarea__text {
    resize: none;

    height: 120px;
    padding: 12px 16px;
    margin-bottom: 20px;
    &::placeholder {
        color: rgba(117, 117, 117, 0.5);
    }
}

.modal__checkbox {
    display: block;
    margin-bottom: 30px;
}

.checkbox__label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    & span {
        width: 16px;
        height: 15px;
        border: 1px solid var(--title-text-color);
        border-radius: 2px;
        margin-right: 8px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
}

.checkbox__icon {
    fill: transparent;

    .checkbox:checked + .checkbox__label & {
        fill: var(--primary-white-color);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.checkbox:checked + .checkbox__label span {
    background-color: var(--accent-color);
    border: none;
}

.checkbox__label a {
    color: var(--accent-color);
    text-decoration: underline;
}

.form__btn {
    width: 200px;
    height: 50px;
    background-color: #188ce8;
    color: var(--primary-white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border-color: transparent;
    margin: 0 124px;
    cursor: pointer;
}

.modal-close__button {
    background: transparent;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 8px;
    right: 8px;

    &:hover svg,
    &:focus svg {
        fill: var(--accent-color);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
