.portpholio-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 8px;

    &__btn {
        padding: 6px 22px;
        border-radius: 4px;
        border: 1px solid transparent;

        color: var(--title-text-color);
        background-color: var(--secondary-bg-color);
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
        text-align: center;
        letter-spacing: 0.03em;
        cursor: pointer;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
        }
    }
}

.portpholio-nav__btn--unmarked {
    border: 1px solid transparent;
    color: var(--title-text-color);
    background-color: var(--secondary-bg-color);
    &:hover,
    &:focus {
        background-color: var(--accent-color);
        color: var(--primary-white-color);
    }
}

.portpholio-nav__btn--marked,
.portpholio-nav__btn--marked:hover,
.portpholio-nav__btn--marked:focus {
    border: 1px solid var(--accent-color);
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}
