.socials {
    display: flex;
    justify-content: center;
    gap: 10px;

    &__link {
        width: 44px;
        height: 44px;
        background-color: var(--primary-white-color);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--icon-color);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            background-color: var(--accent-color);
            color: var(--primary-white-color);
        }
    }

    &__icon {
        width: 20px;
        height: 20px;
        fill: currentColor;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.socials__link:hover svg,
.socials__link:focus svg {
    fill: var(--primary-white-color);
}

.connect {
    flex-direction: column;
    align-items: center;
    @include desktop {
        margin-left: 70px;
        margin-bottom: 0;
    }

    &__title {
        display: block;
        text-transform: uppercase;
        margin-bottom: 20px;
        color: var(--primary-white-color);
    }
    &__list {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__icon {
        width: 20px;
        height: 20px;
        fill: var(--primary-white-color);
    }
}

.connect__item:hover .connect__link,
.connect__item .connect__link:focus {
    background-color: var(--accent-color);
}
