:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --primary-white-color: #ffffff;
    --primary-bg-color: #2f303a;
    --secondary-bg-color: #f5f4fa;
    --adrress-color: rgba(255, 255, 255, 0.6);
    --pure-black-color: #000000;
    --header-border-line: #e5e5e5;
    --icon-color: #afb1b8;
    --portpholio-cards-gap: 30px;
    --shadows: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}
